{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
  {% include 'common/sidebar.html' %}
  <div class="content_wrapper bg_homebefore">
    <div class="container-fluid">
      <div class="sec-title">
        <div class="row d-flex align-items-center">
          <div class="col-md-12">
            <div class="heading_home">
              <h2>Welcome back {{staff.name}}</h2>
              <p> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-bar">
        <!-- Start row -->
        <div class="row">
          <!-- Start col -->
          <div class="col-12 col-md-12">
            <div class="row">
              <!-- start card -->
              <div class="col-lg-3 col-md-4 col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Current Batches</p>
                          <h4 class="card-title mb-0 border-0">{{current_batches}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="fas fa-podcast line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Upcoming Batches</p>
                          <h4 class="card-title mb-0 border-0">{{upcoming_batches}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="ti ti-pin-alt line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Active Leads</p>
                          <h4 class="card-title mb-0 border-0">{{active_leads}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="ti ti-headphone-alt line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Closed Leads</p>
                          <h4 class="card-title mb-0 border-0">{{closed_leads}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="fas fa-clipboard-check line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card --> 

              <!-- start card -->
              <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Students</p>
                          <h4 class="card-title mb-0 border-0">{{students}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="fas fa-user-graduate line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Pending LMS Accounts</p>
                          <h4 class="card-title mb-0 border-0">{{pending_lms}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="far fa-user-circle line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Upcoming Webinar</p>
                          <h4 class="card-title mb-0 border-0">{{webinar}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="ti ti-signal line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Revenue Collected</p>
                          <h4 class="card-title mb-0 border-0">&#8377;{{monthly_fee_collected}}/-</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="ti ti-money line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card --> 
            </div>
  
  
          </div>
          <!-- End col -->
          <!-- Start col -->
          <!-- <div class="col-lg-12 col-xl-9">
            <div class="card m-b-30">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-6 col-lg-9">
                    <h5 class="card-title mb-0">Lead Compare</h5>
                  </div>
                  <div class="col-6 col-lg-3">
                    <select class="form-control font-12">
                      <option value="class1" selected>Last Week</option>
                      <option value="class2">Last Month</option>
                      <option value="class3">Last Year</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-body p-0">
                <div id="apex-bar-chart"></div>
              </div>
            </div>
          </div> -->
          <!-- End col -->
        </div>
        <!-- End row -->

        <!-- Start row -->
        <div class="row customers">
          <div class="col-lg-12 col-xl-3">
            <div class="card  m-b-30 no-border">
              <div class="card-header bg-white">
                <h3 class="card-title float-left">Available Trainers</h3>
                <div class="float-right"> <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i class="lni-more-alt"></i> </a>
                  <div class="dropdown-menu"> <a class="dropdown-item" href="#"><i class="ti ti-check m-r-10"></i> View</a>
                    <a class="dropdown-item" href="#"><i class="lni-add-file m-r-10"></i> Add</a> <a
                      class="dropdown-item" href="#"><i class="lni-download m-r-10"></i> Download</a> <a
                      class="dropdown-item" href="#"><i class="lni-cog m-r-10"></i> More</a> <a class="dropdown-item"
                      href="#"><i class="lni-archive m-r-10"></i> Remove</a> </div>
                </div>
              </div>
              <div class="card-body visitor-customer">
                {% for i in trainers %}
                <div class="media border-bottom p-b-15"> <img class="rounded-circle m-r-15 w-45"
                    src="{{i.profile_pic.url}}" alt="widget">
                  <div class="media-body">
                    <div><strong>{{i.name}}</strong></div>
                    {{i.status}}
                  </div>
                  <div class="float-right">
                    <small class="text-muted ml-md-auto"><i class="fe fe-calendar mr-1"></i>{{i.doj}}</small><br>
                    <h6><a class="badge badge-default" href="{% url 'message' i.id %}">Message</a></h6>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-xl-9">
            <div class="card m-b-30 no-border recent-order">
              <div class="card-header bg-white no-border border-bottom-transparent">
                <h3 class="card-title float-left">Active Leads</h3>
                <!-- <div class="float-right">
                  <ul class="nav" role="tablist">
                    <li class="nav-item"> <a class="p-r-10 active" data-toggle="tab" href="#edl-tab30">Today</a> </li>
                    <li class="nav-item"> <a class="p-r-10" data-toggle="tab" href="#edl-tab31">Week</a> </li>
                    <li class="nav-item"> <a data-toggle="tab" href="#edl-tab32">Month</a> </li>
                  </ul>
                </div> -->
              </div>
              <div class="card-body no-padding">
                <div class="tab-content">
                  <div class="tab-pane active" id="edl-tab30">
                    <div class="table-responsive">
                      <table class="table recent-order">
                        <thead class="">
                          <tr>
                            <th class="border-0">#</th>
                            <th class="border-0">Name</th>
                            <th class="border-0">Email</th>
                            <th class="border-0">Mobile</th>
                            <th class="border-0">Status</th>
                            <th class="border-0 text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in leads %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.mobile}}</td>
                            <td>{{i.status}}</td>
                            <td class="text-center">
                              <a href="{% url 'send_lead_mail' i.id %}" class="btn btn-primary-rgba"> <i class="ti ti-email"></i></a>
                              <a href="tel:{{i.mobile}}" class="btn btn-primary-rgba"> <i class="ti ti-mobile"></i></a>
                            </td>
                          </tr>
                          {% empty %}
                          <tr><td colspan="8">No active leads</td></tr>
                          {% endfor %}
                          <tr class="border-top-transparent">
                            <td colspan="9" class="pr-0 pb-0"><a href="{% url 'view_leads' %}"
                                class="bttn bttn-success float-right m-t-10">View Details</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End row -->

        <!-- Start row -->
        <div class="row">
          <!-- Start col -->
          <!-- <div class="col-lg-12 col-xl-9">
            <div class="card m-b-30">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-6 col-lg-9">
                    <h5 class="card-title mb-0">Average Monthly Revenue</h5>
                  </div>
                  <div class="col-6 col-lg-3">
                    <select class="form-control font-12">
                      <option value="class1" selected>Last Week</option>
                      <option value="class2">Last Month</option>
                      <option value="class3">Last Year</option>
                    </select>
                  </div>
                </div>
                <h2>$8,66,587</h2>
              </div>
              <div class="card-body p-0">
                <div id="apex-area-chart"></div>
              </div>
            </div>
          </div> -->
          <!-- End col -->
          <!-- Start col -->
          <!-- <div class="col-lg-12 col-xl-3">
            <div class="card m-b-30">
              <div class="card-header text-center">
                <h5 class="card-title mb-0">Ticket Status</h5>
              </div>
              <div class="card-body text-center">
                <div id="apex-stroked-circle-guage-chart"></div>
              </div>
              <div class="card-footer text-center">
                <div class="row">
                  <div class="col-4 border-right px-0">
                    <p class="my-2">New</p>
                    <h5>589</h5>
                  </div>
                  <div class="col-4 border-right px-0">
                    <p class="my-2">Open</p>
                    <h5>1298</h5>
                  </div>
                  <div class="col-4 px-0">
                    <p class="my-2">Time</p>
                    <h5>1 Day</h5>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- End col -->
        </div>
        <!-- End row -->
        
        {% include 'common/footer.html' %}
      </div>
      <!-- End Rightbar -->
    </div>
  </div>
</div>
</div>

{% endblock %}