{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            
            <div class="breadcrumbbar">
                <!-- Start row -->
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Review {{profile.name}}'s Profile</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'pending_staff' %}">Staff Approvals</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit Staff</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 mr-0">
                        <div class="widgetbar">
                            <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->


            <!-- state start-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <h4 class="m-t-0 header-title">Review {{profile.name}}'s Profile</h4>
                        

                        
                        <div class="card card-body">
                            <form class="forms-sample" method="post" enctype="multipart/form-data" action>
                                {% csrf_token %}
                              <div class="form-group row">
                                <div class="col-12 col-md-12">
                                  <label for="exampleInputName1">Name</label> 
                                  <input type="text" class="form-control" value="{{profile.name}}" disabled>
                                </div>
                                
                              </div>
                              <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    <label for="exampleInputEmail3">Employee ID</label>
                                    <input type="text" class="form-control" value="{{profile.empid}}" disabled>
                                </div>
                                <div class="col-12 col-md-4">
                                  <label for="exampleInputName1">Mobile</label>
                                  <input type="text" class="form-control" value="{{profile.mobile}}" disabled>
                                
                                </div>
                                <div class="col-12 col-md-4">
                                  <label for="exampleInputEmail3">Email</label>
                                  <input type="text" class="form-control" value="{{profile.email}}" disabled>
                                </div>
                                <div class="col-12 col-md-3">
                                  <label for="exampleInputEmail3">Gender</label>
                                  <input type="text" class="form-control" value="{{profile.sex}}" disabled>
                                </div>
                                <div class="col-12 col-md-3">
                                  <label for="exampleInputEmail3">Date of Birth</label>
                                  <input type="text" class="form-control" value="{{profile.dob}}" disabled>
                                </div>
                                <div class="col-12 col-md-3">
                                    <label for="exampleInputEmail3">Date of Joining</label>
                                    <input type="text" class="form-control" value="{{profile.doj}}" disabled>
                                  </div>
                                  <div class="col-12 col-md-3">
                                    <label for="exampleInputEmail3">Blood Group</label>
                                    <input type="text" class="form-control" value="{{profile.blood_group}}" disabled>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-12 col-md-6">
                                  <label for="exampleInputName1">House Name</label>
                                  <input type="text" class="form-control" value="{{profile.house}}" disabled>
                                </div>
                                <div class="col-12 col-md-6">
                                  <label for="exampleInputEmail3">Address Line 1</label>
                                  <input type="text" class="form-control" value="{{profile.street}}" disabled>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="exampleInputName1">Address Line 2</label>
                                    <input type="text" class="form-control" value="{{profile.street2}}" disabled>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <label for="exampleInputEmail3">City</label>
                                    <input type="text" class="form-control" value="{{profile.city}}" disabled>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <label for="exampleInputName1">State</label>
                                    <input type="text" class="form-control" value="{{profile.state}}" disabled>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <label for="exampleInputEmail3">Pincode</label>
                                  <input type="text" class="form-control" value="{{profile.pin}}" disabled>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-12 col-md-6">
                                  <label for="exampleInputName1">Department</label>
                                  <input type="text" class="form-control" value="{{profile.stype}}" disabled>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="exampleInputEmail3">Reporting Manager</label>
                                    <input type="text" class="form-control" value="{{reporting.manager}}" disabled>
                                  </div>
                                
                              </div>


                              
                              
                              <a href="{% url 'approve_staff' profile.id %}"><span class="btn btn-primary mr-2"><i class="ti ti-save"></i> Approve</span></a>
                              <a href="{% url 'pending_staff' %}" class="btn btn-light">Go Back</a>
                            </form>
                  </div>
                </div>
                    
                </div>
                
            </div>
            <!--- End row -->

            

            

            
            <!-- state end-->
            
        </div>
    </div>
    {% include 'common/footer.html' %}
</div>

{% endblock %}