{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            
            <div class="breadcrumbbar">
                <!-- Start row -->
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Add Course Data - {{student}}</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'view_students' %}">Students</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Course Data</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 mr-0">
                        <div class="widgetbar">
                            <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->


            <!-- state start-->
            <div class="row">
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="card">
                        <h4 class="m-t-0 header-title">Add {{student}} 's Course Data</h4>
                        <img class="img-circle pro_pic" src="{{student.profile_pic.url}}" alt="{{student.name}}" style="width: 100px;height:100px">
                        


                        
                        <div class="card card-body">
                            <form class="forms-sample" method="post" enctype="multipart/form-data" action>
                                {% csrf_token %}
                              <div class="form-group row">
                                <div class="col-12 col-md-6">
                                    <label for="exampleInputName1">Name</label> 
                                    <input type="text" class="form-control" value="{{student.name}}" disabled>
                                  </div>
                                <div class="col-12 col-md-6">
                                  <label for="exampleInputName1">Batch</label> 
                                  {% load widget_tweaks %}
                                  {% render_field form.batch class="form-control" required="true" %}
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="exampleInputName1">Email</label> 
                                    <input type="text" class="form-control" value="{{student.email}}" disabled>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <label for="exampleInputName1">Mobile</label> 
                                    <input type="text" class="form-control" value="{{student.mobile}}" disabled>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <label for="exampleInputName1">Courses Enrolled</label> 
                                    <textarea class="form-control" disabled>
                                        {{student.course_enrolled|join:", " }}
                                    </textarea>
                                  </div>
                                  <div class="col-12 col-md-6">
                                    <label for="exampleInputName1">Now Attending</label> 
                                    <textarea class="form-control" disabled>
                                        {{student.now_attending|join:", " }}
                                    </textarea>
                                  </div>
                                
                              </div>
                              
                              <button type="submit" class="btn btn-primary mr-2">Submit</button>
                              <a href="{% url 'view_students' %}" class="btn btn-light">Cancel</a>
                            </form>
                  </div>
                </div>
                    </div>
                </div>
                
            </div>
            <!--- End row -->

            

            

            
            <!-- state end-->
            
        </div>
    </div>
    {% include 'common/footer.html' %}
</div>

{% endblock %}