{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
  {% include 'operations/sidebar.html' %}
  <div class="content_wrapper bg_homebefore">
    <div class="container-fluid">
      <div class="sec-title">
        <div class="row d-flex align-items-center">
          <div class="col-md-12">
            <div class="heading_home">
              <h2>Welcome back {{staff.name}}</h2>
              <p> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-bar">
        <!-- Start row -->
        <div class="row">
          <!-- Start col -->
          <div class="col-12 col-md-12">
            <div class="row">
              <!-- start card -->
              <div class="col-lg-3 col-md-4 col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Current Batches</p>
                          <h4 class="card-title mb-0 border-0">{{current_batches}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="fas fa-podcast line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Upcoming Batches</p>
                          <h4 class="card-title mb-0 border-0">{{upcoming_batches}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="ti ti-pin-alt line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Upcoming Webinar</p>
                          <h4 class="card-title mb-0 border-0">{{upcoming_webinar}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="ti ti-signal line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card -->
               <!-- start card -->
               <div class="col-lg-3 col-md-4  col-12">
                <div class="container">
                  <div class="card col-12 m-b-20 ">
                    <div class="card-body">
                      <div class="row align-items-center no-gutters">
                        <div class="col-8">
                          <p class="font-15">Pending Task</p>
                          <h4 class="card-title mb-0 border-0">{{pending_task}}</h4>
                        </div>
                        <div class="col-4 text-right"> <span class="iconbar iconbar-md bg-primary text-white rounded"><i
                              class="ti ti-notepad line align-unset"></i></span> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card --> 
            </div>
  
  
          </div>
          <!-- End col -->
          <!-- Start col -->
         
          <!-- End col -->
        </div>
        <!-- End row -->

        <!-- Start row -->
        <div class="row customers">
          <!-- Start Team Members -->
          <div class="col-lg-12 col-xl-3">
            <div class="card  m-b-30 no-border">
              <div class="card-header bg-white">
                <h3 class="card-title float-left">Team Members</h3>
                <div class="float-right"> <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i class="lni-more-alt"></i> </a>
                  <div class="dropdown-menu"> <a class="dropdown-item" href="#"><i class="ti ti-check m-r-10"></i> View</a>
                    <a class="dropdown-item" href="#"><i class="lni-add-file m-r-10"></i> Add</a> <a
                      class="dropdown-item" href="#"><i class="lni-download m-r-10"></i> Download</a> <a
                      class="dropdown-item" href="#"><i class="lni-cog m-r-10"></i> More</a> <a class="dropdown-item"
                      href="#"><i class="lni-archive m-r-10"></i> Remove</a> </div>
                </div>
              </div>
              <div class="card-body visitor-customer">
                {% for i in staff_members %}
                <div class="media border-bottom p-b-15"> <img class="rounded-circle m-r-15 w-45"
                    src="{{i.profile_pic.url}}" alt="widget">
                  <div class="media-body">
                    <div><strong>{{i.name}}</strong></div>
                    {{i.status}}
                  </div>
                  <div class="float-right">
                    <small class="text-muted ml-md-auto"><i class="fe fe-calendar mr-1"></i>{{i.doj}}</small><br>
                    <h6><a class="badge badge-default" href="{% url 'message' i.id %}">Message</a></h6>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
          <!-- Stop Team Members -->
          <!-- Active Batch -->
          <div class="col-lg-12 col-xl-9">
            <div class="card m-b-30 no-border recent-order">
              <div class="card-header bg-white no-border border-bottom-transparent">
                <h3 class="card-title float-left">Active Batches</h3>
          
              </div>
              <div class="card-body no-padding">
                <div class="tab-content">
                  <div class="tab-pane active" id="edl-tab30">
                    <div class="table-responsive">
                      <div class="dash" style="height:300px;overflow-y: scroll;scrollbar-width: 1px;">
                        <table class="table recent-order">
                          <thead class="">
                            <tr>
                              <th class="border-0">#</th>
                              <th class="border-0">Subject</th>
                              <th class="border-0">Code</th>
                              <th class="border-0">Start Date</th>
                              <th class="border-0">End Date</th>
                              <th class="border-0">Timing</th>
                              <th class="border-0">Trainer</th>
                              <th class="border-0">Strength</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in active_batches %}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{i.subject.code}}</td>
                              <td>{{i.batch_code}}</td>
                              <td>{{i.start_date}}</td>
                              <td>{{i.end_date}}</td>
                              <td>{{i.start_time}}-{{i.end_time}}</td>
                              <td>{{i.trainer}}</td>
                              <td>{{i.strength}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="8">No active batches</td>
                            </tr>
                            {% endfor %}
          
                          </tbody>
                          <tfooter>
                          </tfooter>
                        </table>
                      </div>
                      <div class="border-top-transparent">
                        <div class="pr-0 pb-0 text-right"><a href="{% url 'view_batches' %}"
                            class="bttn bttn-success float-right m-t-10">View Details</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- End row -->

        <!-- Start row -->
        <div class="row customers">
          <!-- Start Team Members -->
          <div class="col-lg-12 col-xl-3">
            <div class="card  m-b-30 no-border">
              <div class="card-header bg-white">
                <h3 class="card-title float-left"><i class="fas fa-birthday-cake text-right"></i>&nbsp;&nbsp;Staff Birthdays</h3>
                <div class="float-right"> <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i class="lni-more-alt"></i> </a>
                  <div class="dropdown-menu"> <a class="dropdown-item" href="#"><i class="ti ti-check m-r-10"></i> View</a>
                    <a class="dropdown-item" href="#"><i class="lni-add-file m-r-10"></i> Add</a> <a
                      class="dropdown-item" href="#"><i class="lni-download m-r-10"></i> Download</a> <a
                      class="dropdown-item" href="#"><i class="lni-cog m-r-10"></i> More</a> <a class="dropdown-item"
                      href="#"><i class="lni-archive m-r-10"></i> Remove</a> </div>
                </div>
              </div>
              <div class="card-body visitor-customer">
                {% for i in birthdays %}
                <div class="media border-bottom p-b-15"> <img class="rounded-circle m-r-15 w-45"
                    src="{{i.profile_pic.url}}" alt="widget">
                  <div class="media-body">
                    <div><strong>{{i.name}}</strong></div>
                    <span class="text-muted">{{i.dob}}</span>
                  </div>
                  <div class="float-right">
                    <span class="text-muted ml-md-auto"></span><br>
                    <h6><a class="badge badge-default" href="{% url 'message' i.id %}">Message</a></h6>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
          <!-- Stop Team Members -->

          <div class="col-lg-12 col-xl-9">
            <div class="card m-b-30 no-border recent-order">
              <div class="card-header bg-white no-border border-bottom-transparent">
                <h3 class="card-title float-left">Upcoming Batches</h3>
          
              </div>
              <div class="card-body no-padding">
                <div class="tab-content">
                  <div class="tab-pane active" id="edl-tab30">
                    <div class="table-responsive">
                      <div class="dash" style="height:300px;overflow-y: scroll;scrollbar-width: 1px;">
                        <table class="table recent-order">
                          <thead class="">
                            <tr>
                              <th class="border-0">#</th>
                              <th class="border-0">Subject</th>
                              <th class="border-0">Code</th>
                              <th class="border-0">Start Date</th>
                              <th class="border-0">End Date</th>
                              <th class="border-0">Timing</th>
                              <th class="border-0">Trainer</th>
                              <th class="border-0">Strength</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in coming_batches %}
                            <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{i.subject.code}}</td>
                              <td>{{i.batch_code}}</td>
                              <td>{{i.start_date}}</td>
                              <td>{{i.end_date}}</td>
                              <td>{{i.start_time}}-{{i.end_time}}</td>
                              <td>{{i.trainer}}</td>
                              <td>{{i.strength}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td colspan="8">No active batches</td>
                            </tr>
                            {% endfor %}
          
                          </tbody>
                          <tfooter>
                          </tfooter>
                        </table>
                      </div>
                      <div class="border-top-transparent">
                        <div class="pr-0 pb-0 text-right"><a href="{% url 'view_batches' %}"
                            class="bttn bttn-success float-right m-t-10">View Details</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

         
        </div>
        <!-- End row -->
        
        
      </div>
     
      <!-- End Rightbar -->
    </div>
  </div>
  {% include 'common/footer.html' %}
</div>
</div>

{% endblock %}