{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            

            <div class="breadcrumbbar"> 
                <!-- Start row -->
                <div class="row">
                  <div class="col-md-8 col-lg-8">
                    <h4 class="page-title">{{batch}}</h4>
                    <div class="breadcrumb-list">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'my_current_batch' %}">Upload Videos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Upload</li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 mr-0">
                    <div class="widgetbar">
                        <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Breadcrumbbar --> 
              
              
             
        <!-- state start-->
        <div class="row ">
            <div class="col-12 col-md-6">
              <div class="card">
                <p class=" text-right">
                  <button class="btn btn-primary my-1" type="button" data-toggle="modal" data-target="#varying-modal" data-whatever="@getbootstrap"><i class="ti ti-plus"></i> Add Video</button>
              </p>

              <!-- Modal -->
              <div class="modal fade" id="varying-modal" tabindex="-1" role="dialog" aria-labelledby="varying-modal-label"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="varying-modal-label">Upload Video File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                        aria-hidden="true">&times;</span> </button>
                  </div>
                  <div class="modal-body">
                    <form method="post" id="notesform" enctype="multipart/form-data" action>
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Topic: <code>*</code></label>
                        {% load widget_tweaks %}
                        {% render_field form.topic class="form-control" required="true" type="text" %}
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Link: <code>*</code></label>
                        {% render_field form.link class="form-control" required="true" type="url" %}
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ><i class="ti ti-save"></i> Save</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
            <!-- Modal End -->

                
              

                <h4 class="m-t-0 header-title">Uploaded Content</h4>
                <div class="table-responsive">
                <table id="demo-foo-filtering" class="table table-striped  toggle-circle m-b-0 table-hover" >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Topic</th>
                      <th>Link</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in batch_data %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.date}}</td>
                      <td>{{i.topic}}</td>
                      <td>
                        <a class="btn btn-round btn-primary" href="{% url 'video_player' i.id  %}"><i class="ti ti-control-play mr-2"></i> Play</a>
                      </td>
                      <td class="text-right">
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                              <button class="btn btn-round btn-primary-rgba" type="button" id="CustomdropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                <div class="dropdown-menu" aria-labelledby="CustomdropdownMenuButton4"> 
                                    <a class="dropdown-item" href="{% url 'update_video' i.id %}"><i class="ti ti-pencil mr-2"></i>Edit</a> 
                                </div>
                            </div>
                          </div>
                      </td>
                      {% empty %}
                      <td colspan="7">No videos available.</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table></div>
              </div>
            </div>
          </div>
          







          
          </div> 
        <!-- End row --> 


            <!-- End row -->
            <!-- state end-->
        </div>
        {% include 'common/footer.html' %}
    </div>
    
    
</div>
{% endblock %}