{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            

            <div class="breadcrumbbar"> 
                <!-- Start row -->
                <div class="row">
                  <div class="col-md-8 col-lg-8">
                    <h4 class="page-title">{{batch}}</h4>
                    <div class="breadcrumb-list">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'my_current_batch' %}">Upload Videos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Upload</li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 mr-0">
                    <div class="widgetbar">
                        <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Breadcrumbbar --> 
              
              
             
        <!-- state start-->
        <div class="row ">
            <div class="col-12 col-md-6">
              <div class="card">
                <p class=" text-right">
                  <button class="btn btn-primary my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="ti ti-plus"></i> Add Batch</button>
              </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
      
                            <h4 class="header-title">Add new video</h4>
                            <form class="forms-sample" method="post" enctype="multipart/form-data" action>
                                {% csrf_token %}
                              <div class="form-group row">
                                <div class="col-12 col-md-12">
                                    <label for="exampleInputName1">TimeStamp</label>
                                  <input type="text" class="form-control" value="{{time}}" disabled>
                                  </div>
                                <div class="col-12 col-md-12">
                                  <label for="exampleInputName1">Topic</label>
                                {% load widget_tweaks %} 
                                {% render_field form.topic class="form-control" required="true"  %}
                                </div>
                                <div class="col-12 col-md-12">
                                  <label for="exampleInputEmail3">Link</label>
                                {% render_field form.link class="form-control" %}
                                </div>
                              </div>
                              <button type="submit" class="btn btn-primary mr-2">Submit</button>
                              <button class="btn btn-light my-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Cancel</button>
                            </form>
                  </div>
                </div><br><br>
              

                <h4 class="m-t-0 header-title">Uploaded Content</h4>
                <div class="table-responsive">
                <table id="demo-foo-filtering" class="table table-striped  toggle-circle m-b-0 table-hover" >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Topic</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in batch_data %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.date}}</td>
                      <td>{{i.topic}}</td>
                      <td class="text-right">
                        <a class="btn btn-round btn-primary" href=""><i class="ti ti-control-play mr-2"></i> Play</a>
                      </td>
                      {% empty %}
                      <td colspan="7">No videos available.</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table></div>
              </div>
            </div>
          </div>
          







          
          </div> 
        <!-- End row --> 


            <!-- End row -->
            <!-- state end-->
        </div>
        {% include 'common/footer.html' %}
    </div>
    
    
</div>
{% endblock %}