{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            

            <div class="breadcrumbbar"> 
                <!-- Start row -->
                <div class="row">
                  <div class="col-md-8 col-lg-8">
                    <h4 class="page-title">Closures</h4>
                    <div class="breadcrumb-list">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'view_leads' %}">Lead Register</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Closures</li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 mr-0">
                    <div class="widgetbar">
                        <a href="{% url 'view_leads' %}" class="btn btn-primary"><i class="fas fa-book-medical"></i> Lead Register</a>
                        <a href="#" class="btn btn-primary"><i class="fas fa-history"></i> History</a>
                        <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Breadcrumbbar --> 
              
              
             
        <!-- state start-->
        <div class="row ">
            <div class="col-12">
              <div class="card">


              

                <h4 class="m-t-0 header-title">Closed Leads</h4>
                <!-- <div class="mb-3">
                  <div class="row">
                    <div class="col-12 text-sm-center form-inline">
                      <div class="form-group mr-2">
                        <select id="demo-foo-filter-status" class="custom-select">
                          <option value="">Show all</option>
                          <option value="active">Active</option>
                          <option value="disabled">Disabled</option>
                          <option value="suspended">Suspended</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <input id="demo-foo-search" type="text" placeholder="Search" class="form-control" autocomplete="on">
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="table-responsive">
                <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Date Created</th>
                      {% if staff.stype == '4' or staff.stype == '5' or staff.stype == '6' %}
                      <th>Generator</th>
                      {% endif %}
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in lead %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.name}}</td>
                      <td>{{i.email}}</td>
                      <td>{{i.mobile}}</td>
                      <td>{{i.created_on}}</td>
                      {% if staff.stype == '4' or staff.stype == '5'  %}
                      <td>{{i.generator}}</td>
                      <td class="text-right">
                        <div class="btn-group mr-2">
                          <div class="dropdown">
                            <button class="btn btn-round btn-primary-rgba" type="button" id="CustomdropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                              <div class="dropdown-menu" aria-labelledby="CustomdropdownMenuButton4">
                                  <a class="dropdown-item" href="{% url 'update_lead' i.id %}"><i class="ti ti-pencil mr-2"></i>Update</a>
                              </div>
                          </div>
                        </div>
                      </td>
                      {% endif %}
                      {% empty %}
                      <td colspan="7">No closure to show.</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                  <tfoot>
                    <tr class="active">
                      <td colspan="7"><div class="text-right">
                        {% if lead.has_previous %}
                        <a href="{% url 'view_closure' %}?page={{ lead.previous_page_number}}"><button class="btn btn-round btn-primary-rgba" ><i class="fas fa-angle-left"></i> Prev</button></a>
                        {% endif %}
                        {% if lead.has_next %}
                        <a href="{% url 'view_closure' %}?page={{ lead.next_page_number}}"><button class="btn btn-round btn-primary-rgba" ><i class="fas fa-angle-right"></i> Next</button></a>
                        {% endif %}
                        </div></td>
                    </tr>
                  </tfoot>
                </table></div><br><br>
                
                </div>
              </div>
            </div>
          </div>
          







          
          </div> 
        <!-- End row --> 


            <!-- End row -->
            <!-- state end-->
        </div>
        {% include 'common/footer.html' %}
    </div>
    
    
</div>
{% endblock %}