<div class="side_bar scroll_auto">
    <div class="user-panel">
      <div class="user_image"> <img src="{{staff.profile_pic.url}}" class="img-circle mCS_img_loaded" alt=""> </div>
      <div class="info">
        <p>{{staff.name}}</p>
        <a href="#"> <i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul id="dc_accordion" class="sidebar-menu tree">
      <li> <a href="{% url 'home' %}" class=" active"> <i class="ti ti-home"></i> <span>Dashboard</span></a> </li>
      {% if staff.stype == '4' or staff.stype == '6' %}
      <li class="menu_sub"> <a href="#"> <i class="ti ti-flag"></i> <span>Approvals </a>
        <ul class="down_menu">
          <li><a href="{% url 'list_lms_approvals' %}">Activate LMS</a></li>
            <li><a href="{% url 'list_lms_revert' %}">Deactivate LMS</a></li>
        </ul>
      </li>
      <li> <a href="{% url 'view_batches' %}"><i class="ti ti-blackboard"></i> <span>Batches</span></a></li>
      {% endif %}
      {% if staff.stype == '6' %}
      <li class="menu_sub"> <a href="#"> <i class="ti ti-menu-alt"></i> <span> Tasks</span><span
        class="ti ti-angle-down styleicon"></span></a>
        <ul class="down_menu">
          <li><a href="{% url 'task_manager' %}"> Task Manager </a></li>
          <li><a href="{% url 'my_task' %}"> My Tasks </a></li>
        </ul>
      </li>
      {% elif staff.stype == '2' %}
      <li> <a href="{% url 'my_task' %}"><i class="ti ti-menu-alt"></i> <span>My Tasks</span></a></li>
      {% endif %}
      <li> <a href="{% url 'view_contacts' %}"><i class="ti ti-id-badge"></i> <span>Contacts</span></a></li>
      <li> <a href="{% url 'view_students' %}"><i class="ti ti-user"></i> <span>Students</span></a></li>
      <li> <a href="{% url 'view_leads' %}"><i class="fas fa-book-medical"></i> <span>Leads</span></a></li>
      {% if staff.stype == '4' or staff.stype == '6' %}
      <li> <a href="{% url 'view_mails' %}"><i class="fa fa-envelope-o"></i> <span>Mail</span></a></li>
      {% endif %}
      <li class="menu_sub"> <a href="#"><i class="ti ti-briefcase"></i> <span>Jobs</span><span
        class="ti ti-angle-down styleicon"></span></a>
        <ul class="down_menu">
          <li><a href="{% url 'jobs' %}">Jobs</a></li>
          <li><a href="{% url 'add_job' %}">Add New Jobs</a></li>
        </ul>
      </li>
      <li class="menu_sub"> <a href="#"> <i class="ti ti-layout-grid2-alt"></i> <span>Apps <span class="ti ti-angle-down styleicon"></span> </span></a>
        <ul class="down_menu">
          <li><a href="{% url 'user_notes' %}">Notes</a></li>
        </ul>
      </li>
      {% if request.user.is_superuser %}
      <li> <a href="/admin/" target="_blank"><i class="ti ti-star"></i> <span>Administrator</span></a></li>
      {% endif %}
    </ul>
  </div>