{% load static %}
<div class="header-bg">
    <header class="main-header">
      <div class="container_header phone_view border_top_bott">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-between align-items-center">
            <div class="menu-icon"> <a href="javascript:void(0)" class="menu-toggler sidebar-toggler"></a> </div>
            <div class="logo d-flex align-items-center justify-content-center"> <a href="javascript:void(0)"> <strong
                  class="logo_icon"> <img src="{% static 'images/small-logo.png' %}" alt=""> </strong> <span class="logo-default"> <img
                    src="{% static 'images/small-logo.png' %}" alt=""> </span> </a> </div>
            <div class="right_detail">
              <div class="row d-flex align-items-center justify-content-end">
                <div class="col-xl-12 col-12 d-flex justify-content-end">
                  <div class="right_bar_top d-flex align-items-center">
  
                    <!-- notification_Start -->
                    {% include 'common/notifications.html' %}
                    <!-- notification_End -->
  
                    <!-- Dropdown_User -->
                    <div class="dropdown dropdown-user"> <a href="javascript:void(0)" class="dropdown-toggle"
                        data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"> <img
                          class="img-circle pro_pic" src="{{staff.profile_pic.url}}" alt="{{staff.name}}"> </a>
                      <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                          <div class="user-panel">
                            <div class="user_image"> <img src="{{staff.profile_pic.url}}" class="img-circle mCS_img_loaded" alt="{{staff.name}}">
                            </div>
                            <div class="info">
                              <p>{{staff.name}}</p>
                              <a href="#">{{staff.email}}</a>
                            </div>
                          </div>
                        </li>
                        <li> <a href="{% url 'view_profile' %}"> <i class="ti ti-user"></i> Profile </a> </li>
                        <li> <a href="#"> <i class="ti ti-settings"></i> Settings </a> </li>
                        <li> <a href="#"> <i class="ti ti-help-alt"></i> Help </a> </li>
                        <li class="divider"></li>
                        <!-- <li> <a href="404.html"> <i class="icon-lock"></i> Lock </a> </li> -->
                        <li> <a href="{% url 'logout' %}"> <i class="fa fa-sign-out"></i> Log Out </a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>