{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            
            <div class="breadcrumbbar">
                <!-- Start row -->
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Notes</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Notes</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 mr-0">
                        <div class="widgetbar">
                            <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->


           <!-- state start-->
        <div class="row">
            
            <div class="col-sm-4">
                
                <button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#varying-modal" data-whatever="@getbootstrap">Create Notes</button>
            
                <!-- Modal -->
                <div class="modal fade" id="varying-modal" tabindex="-1" role="dialog" aria-labelledby="varying-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="varying-modal-label">New Notes</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal-body">
                          <form method="post" id="notesform" enctype="multipart/form-data" action>
                              {% csrf_token %}
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Topic: <code>*</code></label>
                                {% load widget_tweaks %}
                                {% render_field form.topic class="form-control" required="true" type="text" %}
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Description: <code>*</code></label>
                              {% render_field form.description class="form-control" required="true"  %}
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Attachment:</label>
                                {% render_field form.attachment class="form-control"   %}
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" onclick="save()"><i class="ti ti-save"></i> Save</button>
                        </div>
                      </div>
                    </div>
                  </div>

            
            </div>
            <br><br><br>
            <!-- end col --> 
          </div>
          
          <!-- End row -->
          <div class="row">
            {% for i in notes %}
            <div class="col-md-3 col-12" style="padding:10px">
              <div class="text-center card">
                <div class="member-card pt-2 pb-2">
                  <div class="thumb-lg member-thumb m-b-10 mx-auto"> <img src="{% static 'images/pdf-attachment.jpg' %}" class="rounded-circle img-thumbnail" alt="{{i.topic}}" style="width: 100px;height:100px"> </div>
                  <div class="card-body">
                    <h4 class="m-b-5">{{i.topic|truncatechars_html:15}}</h4>
                    <p class="text-muted">{{i.description|truncatechars_html:20}} <br> 
                        {% if i.public == False  %}
                        <span> <a href="javascript:void(0)" class="text-pink" data-toggle="tooltip" data-placement="left" title="Click to change the visibility to public." onclick="makepublic('{{i.id}}')"><i class="ti ti-key"></i> Private</a> </span>
                        {% elif i.public == True %}
                        <span> <a href="javascript:void(0)" class="text-pink" data-toggle="tooltip" data-placement="left" title="Click to change the visibility to private." onclick="makepublic('{{i.id}}')"><i class="ti ti-eye"></i> Public</a> </span>
                        {% endif %}
                    </p>
                    <div class="">
                        <center>
                          <a href="{% url 'edit_notes' i.id %}" class="btn btn-rounded btn-light-rgba col-3 btn-sm" data-toggle="tooltip" data-placement="left" title="Edit the contents." ><i class="ti ti-pencil"></i></a>
                          <a class="btn btn-rounded btn-light-rgba col-3 btn-sm" data-toggle="tooltip" data-placement="bottom" title="Copy link." onclick="navigator.clipboard.writeText('/notes/{{i.url}}/');alert('Copied link '+'/notes/{{i.url}}/');"><i class="ti ti-link"></i></a>
                          <a class="btn btn-rounded btn-light-rgba col-3 btn-sm" data-toggle="tooltip" data-placement="right" title="Once deleted this will be lost permanently." onclick="trash('{{i.id}}')"><i class="ti ti-trash"></i></a>
                        </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="col-md-4 col-12">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="alert-list">
                      <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading"><i class="ti ti-notepad"></i> Create your first notes!</h4>
                        <p><button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#varying-modal" data-whatever="@getbootstrap">Create Notes</button></p>

                        <div class="modal fade" id="varying-modal" tabindex="-1" role="dialog" aria-labelledby="varying-modal-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="varying-modal-label">New Notes</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <!-- Modal -->
                                <div class="modal-body">
                                  <form method="post" id="notesform" enctype="multipart/form-data" action>
                                      {% csrf_token %}
                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Topic: <code>*</code></label>
                                        {% load widget_tweaks %}
                                        {% render_field form.topic class="form-control" required="true" type="text" %}
                                    </div>
                                    <div class="form-group">
                                      <label for="message-text" class="col-form-label">Description: <code>*</code></label>
                                      {% render_field form.description class="form-control" required="true"  %}
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Attachment:</label>
                                        {% render_field form.attachment class="form-control"   %}
                                      </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" onclick="save()"><i class="ti ti-save"></i> Save</button>
                                </div>
                              </div>
                            </div>
                          </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>

             
              

            {% endfor %}
            <!-- end col -->
            
             
          </div>
          <!-- End row -->
          
          
          
          
          <!-- End row -->
            

            

            
            <!-- state end-->
            <script>
                var n = document.getElementById('notesform')
                function save(){
                    n.submit();
                }
            </script>
            <script>
                function trash(x) {
                  setTimeout(function(){
                    $.ajax({
                        type: 'GET',
                        url : '/user/delete/notes/'+x,
                    
                    });
                    }, 1);
              
                  setTimeout(function(){
                    window.location = window.location
                    }, 10);
                  
                }
                </script>
                <script>
                    function makepublic(x) {
                      setTimeout(function(){
                        $.ajax({
                            type: 'GET',
                            url : '/user/status/notes/'+x,
                        
                        });
                        }, 1);
                  
                      setTimeout(function(){
                        window.location = window.location
                        }, 10);
                      
                    }
                    </script>
            
        </div>
    </div>
    {% include 'common/footer.html' %}
</div>

{% endblock %}