<div class="dropdown dropdown-notification"> <a href="javascript:void(0)" onclick="read()" class="dropdown-toggle"
    data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <i
      class="fa fa-bell"></i> <span class="badge_coun"> {{count}} </span> </a>
  <ul class="dropdown-menu scroll_auto height_fixed">
    <li class="bigger">
      <h3><span class="bold">Notifications</span></h3>
      <span class="notification-label">New {{count}}</span>
    </li>
    <li>
      <ul class="dropdown-menu-list">
        {% for i in notify %}
              <li>
                <a href="javascript:void(0)"><span class="time">{{i.timestamp|timesince}}</span><span class="details">
                  {% if i.type == '1' %} 
                    <span class="notification-icon deepPink-bgcolor"> <i class="fa fa-comments-o"></i></span>
                  {% elif i.type == '2' %}
                    <span class="notification-icon blue-bgcolor"><i class="fas fa-user-plus"></i> </span>
                  {% elif i.type == '3' %}
                    <span class="notification-icon purple-bgcolor"><i class="fas fa-book-reader"></i> </span>
                  {% elif i.type == '4' %}
                    <span class="notification-icon red"> <i class="ti ti-hand-open"></i> </span>
                  {% elif i.type == '5' %}
                    <span class="notification-icon yellow"><i class="fas fa-exclamation"></i> </span>
                  {% elif i.type == '6' %}
                    <span class="notification-icon pink"><i class="fas fa-check"></i> </span>
                  {% endif %}
                    {{i.message}} </span>
                </a>
              </li> 
        {% endfor %}

      </ul>
    </li>
  </ul>
</div>
<script>
  function read() {
    setTimeout(function(){
      $.ajax({
          type: 'GET',
          url : '/user/notification/read/',
      
      });
      }, 3000);

    setTimeout(function(){
      window.location = window.location
      }, 15000);
    
  }
  </script>