<div class="dropdown dropdown-notification"> <a href="javascript:void(0)" onclick="read()" class="dropdown-toggle"
    data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <i
      class="fa fa-bell"></i> <span class="badge_coun"> {{count}} </span> </a>
  <ul class="dropdown-menu scroll_auto height_fixed">
    <li class="bigger">
      <h3><span class="bold">Notifications</span></h3>
      <span class="notification-label">New {{count}}</span>
    </li>
    <li>
      <ul class="dropdown-menu-list">
        {% for i in notify %}
            {% if i.type == 1 %}
              <li>
                <a href="javascript:void(0)"><span class="time">{{i.time|timesince}}</span><span class="details">
                  {% if i.type == "Chat" %} 
                    <span class="notification-icon deepPink-bgcolor"> <i class="fa fa-comments-o"></i></span>
                  {% elif i.type == "Account Creation" %}
                    <span class="notification-icon blue-bgcolor"><i class="fas fa-user-plus"></i> </span>
                  {% elif i.type == "Batch Update" %}
                    <span class="notification-icon purple-bgcolor"><i class="fas fa-book-reader"></i> </span>
                  {% elif i.type == "Query" %}
                    <span class="notification-icon red"> <i class="ti ti-hand-open"></i> </span>
                  {% elif i.type == "General" %}
                    <span class="notification-icon yellow"><i class="fas fa-exclamation"></i> </span>
                  {% elif i.type == "Course" %}
                    <span class="notification-icon pink"><i class="fas fa-check"></i> </span>
                  {% endif %}
                    {{i.message}} </span>
                </a>
              </li> 
        {% endfor %}

        <!-- <li> <a href="javascript:void(0)"> <span class="time">just now</span> <span class="details">
              <span class="notification-icon deepPink-bgcolor"> <i class="fa fa-check"></i> </span>
              Congratulations!. </span> </a> </li>
        <li> <a href="javascript:void(0)"> <span class="time">3 mins</span> <span class="details">
              <span class="notification-icon purple-bgcolor"> <i class="fa fa-user o"></i> </span>
              <b>John Micle </b>is now following you. </span> </a> </li>
        <li> <a href="javascript:void(0)"> <span class="time">7 mins</span> <span class="details">
              <span class="notification-icon blue-bgcolor"> <i class="fa fa-comments-o"></i> </span>
              <b>Sneha Jogi </b>sent you a message. </span> </a> </li>
        <li> <a href="javascript:void(0)"> <span class="time">12 mins</span> <span class="details">
              <span class="notification-icon pink"> <i class="fa fa-heart"></i> </span> <b>Ravi Patel
              </b>like your photo. </span> </a> </li>
        <li> <a href="javascript:void(0)"> <span class="time">15 mins</span> <span class="details">
              <span class="notification-icon yellow"> <i class="fa fa-warning"></i> </span> Warning!
            </span> </a> </li>
        <li> <a href="javascript:void(0)"> <span class="time">10 hrs</span> <span class="details">
              <span class="notification-icon red"> <i class="fa fa-times"></i> </span> Application
              error. </span> </a> </li> -->
      </ul>
    </li>
  </ul>
</div>
<script>
  function read() {
    setTimeout(function(){
      $.ajax({
          type: 'GET',
          url : '/user/notification/read/',
      
      });
      }, 3000);

    setTimeout(function(){
      window.location = window.location
      }, 15000);
    
  }
  </script>