{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            
            <div class="breadcrumbbar">
                <!-- Start row -->
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Edit Profile</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                {% if staff %}
                                <li class="breadcrumb-item"><a href="{% url 'view_profile' %}">Profile</a></li>
                                {% elif student %}
                                <li class="breadcrumb-item"><a href="{% url 'my_profile' %}">Profile</a></li>
                                {% endif %}
                                <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 mr-0">
                        <div class="widgetbar">
                            <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->


            <!-- state start-->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="card">
                        <h4 class="header-title m-t-0">Change Password</h4>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="row">
                                        <div class="alert alert-danger" style="margin-left:20px">
                                            <code>{{ error }}</code>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <form method="post" enctype="multipart/form-data" action>
                            {% csrf_token %}
                            <div class="form-group">
                            <label for="userName">User Name</label>
                            <input type="text" class="form-control" value="{{request.user}}" disabled>
                            </div>
                            <div class="form-group">
                            <label for="pass1">Old Password<span class="text-danger">*</span></label>
                            {% load widget_tweaks %} 
                            {% render_field form.old_password class="form-control" required="true" type="password" %}
                            </div>
                            <div class="form-group">
                                <label for="pass1">New Password<span class="text-danger">*</span></label>
                                {% render_field form.new_password1 class="form-control" required="true" type="password" %}
                            </div>
                            <div class="form-group">
                            <label for="passWord2">Confirm Password <span class="text-danger">*</span></label>
                            {% render_field form.new_password2 class="form-control" required="true" type="password" %}
                            </div>
                            <div class="form-group text-right m-b-0">
                            <button class="btn btn-primary waves-light" type="submit"> Submit </button>
                            <button type="reset" class="btn btn-light waves-effect m-l-5"> Cancel </button>
                            </div>
                        </form>
                        

                        
                        
                
                    </div>
                </div>
                
            </div>
            <!--- End row -->

            

            

            
            <!-- state end-->
            
        </div>
    </div>
    {% include 'common/footer.html' %}
</div>

{% endblock %}