{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            

            <div class="breadcrumbbar"> 
                <!-- Start row -->
                <div class="row">
                  <div class="col-md-8 col-lg-8">
                    <h4 class="page-title">Update Task</h4>
                    <div class="breadcrumb-list">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        {% if staff.stype == '4' or task.assigned_by == staff %}
                        <li class="breadcrumb-item"><a href="{% url 'task_manager' %}">Task Manager</a></li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'task_manager' %}">My Tasks</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">Update Task</li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 mr-0">
                    <div class="widgetbar">
                        <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Breadcrumbbar --> 
              
              
             
        <!-- state start-->
        <div class="row ">
            <div class="col-12">
              <div class="card">

      
                            <h4 class="header-title">Task Details</h4>
                            <form class="forms-sample" method="post" enctype="multipart/form-data" action>
                                {% csrf_token %}
                              <div class="form-group row">
                                <div class="col-12 col-md-4">
                                  <label for="exampleInputName1">Assigned By</label>
                                <input type="text" class="form-control" value="{{task.assigned_by}}" disabled>
                                </div>
                                <div class="col-12 col-md-4">
                                  <label for="exampleInputEmail3">Subject</label>
                                  <input type="text" class="form-control" value="{{task.topic}}" disabled>
                                </div>
                                <div class="col-12 col-md-4">
                                  <label for="exampleInputEmail3">Status</label>
                                  {% load widget_tweaks %} 
                                  {% render_field form.status class="form-control" required="true"  %}
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-12 col-md-12">
                                  <label for="exampleInputName1">Description</label> 
                                <textarea class="form-control" rows="6" disabled>{{task.description}}</textarea><br><br>
                                </div>
                                <br><br>
                                <div class="col-12 col-md-12 ">
                                    <div class="text-right">
                                        {% if task.attachment %}
                                        <a href="{{task.attachment.url}}" class="btn btn-primary" download><i class="ti ti-download"></i> Download Attachment</a>
                                        {% endif %}
                                        <button type="submit" class="btn btn-primary mr-2"><i class="ti ti-save"></i> Save</button>
                                    </div>
                                </div>
                                
                              </div>
                              
                            </form>
                  

               
                
                
              </div>
            </div>
          </div>
          







          
          </div> 
        <!-- End row --> 


            <!-- End row -->
            <!-- state end-->
        </div>
        {% include 'common/footer.html' %}
    </div>
    
    
</div>
{% endblock %}