{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            
            <div class="breadcrumbbar">
                <!-- Start row -->
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Play Video</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                {% if staff %}
                                <li class="breadcrumb-item"><a href="{% url 'upload_videos' batch.id %}">Videos</a></li>
                                {% elif student %}
                                <li class="breadcrumb-item"><a href="{% url 'my_recordings' %}">My Recordings</a></li>
                                {% endif %}
                                <li class="breadcrumb-item active" aria-current="page">Play Video</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 mr-0">
                        <div class="widgetbar">
                            <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->


            <!-- state start-->
            <div class="row">
                        

                        <div class="col-lg-6">
                            <div class="card m-b-30">
                              <div class="card-header">
                                <h5 class="card-title">{{batch_data.topic}}</h5>
                              </div>
                              <div class="card-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="{{batch_data.link}}" allowfullscreen></iframe>
                                </div>
                              </div>
                            </div>
                          </div>



                    
            </div>
            <!--- End row -->

            

            

            
            <!-- state end-->
            
        </div>
    </div>
    {% include 'common/footer.html' %}
</div>

{% endblock %}