{% extends 'common/main.html' %}
{% load static %}
{% block content %}
<!-- header -->
{% include 'common/header.html' %}
<!-- header_End -->
<!-- Content_right -->
<div class="container_full">
    {% include 'common/sidebar.html' %}
    <div class="content_wrapper bg_homebefore inner-wrapper tables-sec">
        <div class="container-fluid">
            <!-- Start Breadcrumbbar -->
            

            <div class="breadcrumbbar"> 
                <!-- Start row -->
                <div class="row">
                  <div class="col-md-8 col-lg-8">
                    <h4 class="page-title">Project Submissions</h4>
                    <div class="breadcrumb-list">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Project Submissions</li>
                      </ol>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 mr-0">
                    <div class="widgetbar">
                        <button class="btn btn-primary" onclick="window.location.reload()"><i class="ti ti-reload mr-2"></i>Refresh</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Breadcrumbbar --> 
              
              
             
        <!-- state start-->
        <div class="row ">
            <div class="col-12">
              <div class="card">
                <div class="card card-body">
                    <h4 class="header-title">Submit Project</h4>
                    <form class="forms-sample" method="post" enctype="multipart/form-data" action>
                        {% csrf_token %}
                      <div class="form-group row">
                        <div class="col-12 col-md-12">
                          <label for="exampleInputName1">Batch</label>
                        <input type="text" class="form-control" value="{{project.batch}}" disabled>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-12 col-md-12">
                          <label for="exampleInputName1">Description</label>
                          <textarea class="form-control" disabled>
                              {{project.description}}
                          </textarea>
                        </div>
                        <div class="col-12 col-md-6">
                          <label for="exampleInputEmail3">Link</label>
                          {% load widget_tweaks %} 
                        {% render_field form.link class="form-control" id="link"  %}
                        </div>
                        <div class="col-12 col-md-6">
                          <label for="exampleInputEmail3">Attachment</label>
                        {% render_field form.attachment class="form-control" id="attachment"  %}
                        </div>
                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2"><i class="ti ti-save"></i> Save</button>
                      <a href="{% url 'view_projects' %}" class="btn btn-light my-1" type="button">Cancel</a>
                    </form>
                </div>

                <h4 class="m-t-0 header-title">Projects</h4>
                <div class="table-responsive">
                <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" >
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Batch</th>
                      <th>Date</th>
                      <th>Last Date</th>
                      <th>Description</th>
                      <th>Link</th>
                      <th>Attachment</th>
                      <th class="text-right">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in submissions %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.project.batch.batch_code}}</td>
                      <td>{{i.date}}</td>
                      <td>{{i.final_date}}</td>
                      <td>{{i.description}}</td>


                      {% if i.status == 'Pending' %}
                      <td><h5><span class="badge badge-warning">Pending</span></h5></td>
                      {% if i.status == 'Accepted' %}
                      <td><h5><span class="badge badge-success">Accepted</span></h5></td>
                      {% if i.status == 'Rejected' %}
                      <td><h5><span class="badge badge-danger">Rejected</span></h5></td>
                      {% endif %}

                      {% empty %}
                      <td colspan="7">No projects to show.</td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                  <tfoot>
                    
                  </tfoot>
                </table>
            </div>
              </div>
            </div>
          </div>
          







          
          </div> 
        <!-- End row --> 


            <!-- End row -->
            <!-- state end-->
        </div>
        {% include 'common/footer.html' %}
    </div>
    
    
</div>
{% endblock %}